extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  button.btn.btn-lg.btn-default(type="button") Default
  button.btn.btn-lg.btn-primary(type="button") Primary
  button.btn.btn-lg.btn-success(type="button") Success
      
